/* Color10 ordinal scale (from d3)
 ["#1f77b4", "#ff7f0e", "#2ca02c", "#d62728", "#9467bd", "#8c564b", "#e377c2", "#7f7f7f", "#bcbd22", "#17becf"]
 */

/* Fonts */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight:300;
}

body {
  font-size: 20px;
  font-weight: 200;
}

strong, b {
  font-weight: 400;
}

.muted { font-weight: 100; color: #696969;}
.red { color: #960018;}
.reset { font-weight: 100; font-size: 20px;}

.card {

}

.inputarea {
  font-weight:300;
  font-size: small;
  line-height: 1.4;
}

/*      Spacing               */

.right { float: right; }

/*      Vertical Offsets     */
.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }
.voffset10x { margin-top: 1500px; }

.centered { text-align: center;}
.vcentered { vertical-align: middle;}

.single_row { min-height: 150px; }
